body, html {
    background-color: rgb(54, 143, 91);
    color: rgb(243, 171, 36);
}
 h1 {
    font-family: 'Notable', sans-serif;
 }

 h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.card {
    display: initial;
    padding: 2%;
    background-color: floralwhite;
    border-radius: 10%;
    border-style: solid;
    border-width: thick;
}

a.dropup-item {
    display: block;
}

.row {
    margin: 5%;
    /* float: left; */
}

i {
    margin-right: 5%;
    cursor: pointer;
}

/* .carousel-item {
    width: 70%;
    margin: auto;
    max-height: 750px;
} */

li {
    display: inline-flex;
    margin: 10%;
}

.fa-trash {
    margin-left: 30%;
    color: red;
}

.fa-heartbeat {
    margin-left: 30%;
    color: green;
}

