body, html {
    background-color: rgb(54, 143, 91);
    color: rgb(243, 171, 36);
}
 h1 {
    font-family: 'Notable', sans-serif;
 }

 h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.card {
    display: initial;
    padding: 2%;
    background-color: floralwhite;
    border-radius: 10%;
    border-style: solid;
    border-width: thick;
    width: 600px;
    margin: 0 auto;
}

#cardMarg {
    margin: 0 auto;
}

.row {
    margin: 5%;
    /* float: left; */
}

i {
    margin-right: 5%;
    cursor: pointer;
}

li {
    display: block;
    margin: 0;
    padding: 5px;
}

.form-control {
    width: 275px;
    margin-left: 20px;
    display: inline-block;
}

.fa-heartbeat {
    margin-left: 20px; 
    font-size: 25px;
    margin-top: 5px;
    margin-right: 0; 
    color: green;
}

.dropdown-menu {
    border: solid 1px gray;
    width: 60px;
    height: 35px;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
}

.message {
    color: red;
    margin-top: 10px;
}


