<h1>workouts!</h1>

<h2>workouts that have been done!</h2>

{{#each exercises}}
    <li > 
      <p>{{dataValues.name}}</p>
      <p>{{dataValues.category}}</p>
      <p>{{dataValues.instructions}}</p>
    </li>
  {{/each}}
  