{{!-- Main Content --}}
<div class="container-fluid" id="center-all-content">
  <h1>workouts!</h1>

  <h2>workouts that have been done!</h2>


  {{!-- 7 Day Workout Forecast --}}
  <div class="row">
     {{#each exercises}}
    <div>
     
      <li>
        <p>{{dataValues.name}}</p>
        <p>{{dataValues.category}}</p>
        <p>{{dataValues.instructions}}</p>
      </li>
     
    </div>
     {{/each}}
  </div>
</div>

